name: Partial Sync Notion Star

on:
  schedule:
    - cron: '0 */2 * * *'
  workflow_dispatch:

jobs:
  partial-sync:
    runs-on: ubuntu-latest
    environment: notion-sync
    
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Download last build cache
        uses: actions/download-artifact@v4
        continue-on-error: true
        with:
          name: notion-sync-storage
          path: .cache

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: 'yarn'

      - name: Install dependencies
        run: yarn install

      - name: Run Partial Sync
        env:
          NOTION_API_KEY: ${{ secrets.NOTION_API_KEY }}
          NOTION_DATABASE_ID: ${{ secrets.NOTION_DATABASE_ID }}
          TOKEN_OF_GITHUB: ${{ secrets.TOKEN_OF_GITHUB }}
          FULLSYNC_LIMIT: 2000
          PARTIALSYNC_LIMIT: 10
          REPO_TOPICS_LIMIT: 50
        run: npm start

      - name: Upload updated cache
        uses: actions/upload-artifact@v4
        with:
          name: notion-sync-storage
          path: .cache
          retention-days: 1 # 节省存储空间，只需保留最后一次的状态
          overwrite: true
